# IF3270 Machine Learning | Praktikum

This notebook serves as a template for the assignment. Please create a copy of this notebook to complete your work. You can add more code blocks, markdown blocks, or new sections if needed.

Group Number: xx

Group Members:
- Name (NIM)
- Name (NIM)

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Import other libraries if needed

## Import Dataset

In [ ]:
# Train
url = "Train_processed.csv"
# Test
url_test = "test_processed_no_solution.csv"

df = pd.read_csv(url)
df_test = pd.read_csv(url_test)

df.head(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,464198,Male,Yes,49,Yes,Entertainment,1.0,Low,2.0,Cat_6,A
1,464238,Male,Yes,87,Yes,Doctor,0.0,High,2.0,Cat_6,A
2,461219,Female,No,28,Yes,Healthcare,8.0,Low,3.0,Cat_6,D
3,466979,Female,Yes,39,Yes,Homemaker,NaN,Average,1.0,Cat_3,A
4,464835,Male,Yes,19,No,Healthcare,1.0,Low,6.0,Cat_4,D
5,465738,Male,No,38,Yes,Entertainment,8.0,Low,2.0,Cat_3,B
6,460095,Female,Yes,74,Yes,Entertainment,1.0,Low,1.0,Cat_6,C
7,460309,Male,No,28,Yes,Marketing,9.0,Low,5.0,Cat_7,D
8,467503,Male,No,26,Yes,Artist,1.0,Low,4.0,Cat_6,C
9,465879,Male,No,39,Yes,Artist,0.0,Low,1.0,Cat_6,A

# 1. Exploratory Data Analysis

Exploratory Data Analysis (EDA) is a crucial step in the data analysis process that involves examining and visualizing data sets to uncover patterns, trends, anomalies, and insights. It is the first step before applying more advanced statistical and machine learning techniques. EDA helps you to gain a deep understanding of the data you are working with, allowing you to make informed decisions and formulate hypotheses for further analysis. Provide at least 3 analysis

In [ ]:
# Write your code here
df.shape

                  ID          Age  Work_Experience  Family_Size
count    5647.000000  5647.000000      5085.000000  5423.000000
mean   463474.687799    43.663538         2.654277     2.861147
std      2598.820204    16.779417         3.429239     1.536501
min    458982.000000    16.000000         0.000000     1.000000
25%    461248.500000    30.000000         0.000000     2.000000
50%    463468.000000    41.000000         1.000000     3.000000
75%    465754.500000    53.000000         4.000000     4.000000
max    467974.000000    91.000000        14.000000     9.000000

In [33]:
df.isnull().sum()

Gender               0
Ever_Married        84
Age                  0
Graduated           40
Profession          79
Work_Experience    562
Spending_Score       0
Family_Size        224
Var_1               53
Segmentation         0
dtype: int64

In [ ]:
df.describe()

                  ID          Age  Work_Experience  Family_Size
count    5647.000000  5647.000000      5085.000000  5423.000000
mean   463474.687799    43.663538         2.654277     2.861147
std      2598.820204    16.779417         3.429239     1.536501
min    458982.000000    16.000000         0.000000     1.000000
25%    461248.500000    30.000000         0.000000     2.000000
50%    463468.000000    41.000000         1.000000     3.000000
75%    465754.500000    53.000000         4.000000     4.000000
max    467974.000000    91.000000        14.000000     9.000000

In [32]:
from sklearn.model_selection import GridSearchCV

# Define hyperparameter grid
param_grid = {
    "classifier__n_estimators": [50, 100, 200],  # Number of trees
    "classifier__max_depth": [None, 10, 20],  # Depth of trees
    "classifier__min_samples_split": [2, 5, 10],  # Min samples to split
    "classifier__min_samples_leaf": [1, 2, 4]  # Min samples per leaf
}

# Grid Search with 5-fold CV
grid_search = GridSearchCV(model_pipeline, param_grid, cv=5, scoring="accuracy", n_jobs=-1, verbose=1)

# Fit GridSearchCV on training data
grid_search.fit(X_train, y_train)

# Best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Best model from GridSearch
best_model = grid_search.best_estimator_

# Evaluate on test set
y_test_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_test_pred)

print(f"Best Model Accuracy: {accuracy:.4f}")

Fitting 5 folds for each of 81 candidates, totalling 405 fits
Best Hyperparameters: {'classifier__max_depth': 10, 'classifier__min_samples_leaf': 4, 'classifier__min_samples_split': 10, 'classifier__n_estimators': 200}
Best Model Accuracy: 0.5407

In [16]:
print(df.dtypes)

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

# 2. Split Training Set and Validation Set

Splitting the training and validation set works as an early diagnostic towards the performance of the model we train. This is done before the preprocessing steps to **avoid data leakage inbetween the sets**. If you want to use k-fold cross-validation, split the data later and do the cleaning and preprocessing separately for each split.

Note: For training, you should use the data contained in the `Train_processed.csv` given by the TA. The `test_processed_no_solution.csv` data is only used for kaggle submission.

In [4]:
# Split training set and validation set here, store into variables train_set and val_set.
# Remember to also keep the original training set before splitting. This will come important later.
from sklearn.model_selection import train_test_split


target_variable = 'Segmentation'
X = df.drop(columns=[target_variable]) # Input features
y = df[target_variable] # Output feature

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# 3. Data Cleaning and Preprocessing

This step is the first thing to be done once a Data Scientist have grasped a general knowledge of the data. Raw data is **seldom ready for training**, therefore steps need to be taken to clean and format the data for the Machine Learning model to interpret.

By performing data cleaning and preprocessing, you ensure that your dataset is ready for model training, leading to more accurate and reliable machine learning results. These steps are essential for transforming raw data into a format that machine learning algorithms can effectively learn from and make predictions.

For each step that you will do, **please explain the reason why did you do that process. Write it in a markdown cell under the code cell you wrote.**

In [23]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

# Load the dataset (assuming df is already loaded)
if "ID" in df.columns:
    df = df.drop(columns=["ID"])

# Identifying feature types
num_features = ["Age", "Work_Experience", "Family_Size"]
cat_features = ["Gender", "Ever_Married", "Graduated", "Profession", "Spending_Score", "Var_1"]

# Creating preprocessing steps
num_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

cat_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

# Compile Preprocessing Pipeline

All of the preprocessing classes or functions defined earlier will be compiled in this step.

If you use sklearn to create preprocessing classes, you can list your preprocessing classes in the Pipeline object sequentially, and then fit and transform your data.

In [24]:
# Combine into a ColumnTransformer
preprocessor = ColumnTransformer([
    ("num", num_pipeline, num_features),
    ("cat", cat_pipeline, cat_features)
])

# Applying the transformation
X = df.drop(columns=["Segmentation"])  # Features
y = df["Segmentation"]  # Target

# Transforming the data
X_processed = preprocessor.fit_transform(X)

# Convert processed data to a DataFrame
X_processed_df = pd.DataFrame(X_processed, columns=preprocessor.get_feature_names_out())


X_processed_df.head()

,num__Age,num__Work_Experience,num__Family_Size,cat__Gender_Female,cat__Gender_Male,cat__Ever_Married_No,cat__Ever_Married_Yes,cat__Graduated_No,cat__Graduated_Yes,cat__Profession_Artist,...,cat__Spending_Score_Average,cat__Spending_Score_High,cat__Spending_Score_Low,cat__Var_1_Cat_1,cat__Var_1_Cat_2,cat__Var_1_Cat_3,cat__Var_1_Cat_4,cat__Var_1_Cat_5,cat__Var_1_Cat_6,cat__Var_1_Cat_7
0,0.318064,-0.452603,-0.575536,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2.582944,-0.756436,-0.575536,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-0.933580,1.674232,0.088553,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-0.277957,-0.452603,-1.239624,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,-1.469999,-0.452603,2.080819,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Full pipeline with preprocessing + classifier
model_pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("classifier", RandomForestClassifier(n_estimators=100, random_state=42))
])

# Train the model
model_pipeline.fit(X_train, y_train)

# Make predictions
y_pred = model_pipeline.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Display results
print(f"Model Accuracy: {accuracy:.4f}")

Model Accuracy: 0.4841

or create your own here

Gender               0
Ever_Married        84
Age                  0
Graduated           40
Profession          79
Work_Experience    562
Spending_Score       0
Family_Size        224
Var_1               53
Segmentation         0
dtype: int64

# 4. Modeling and Validation

Modelling is the process of building your own machine learning models to solve specific problems, or in this assignment context, predicting the probability for each class in the `Segmentation` feature. Validation is the process of evaluating your trained model using the validation set or cross-validation method and providing some metrics that can help you decide what to do in the next iteration of development.

In this task, you are required to predict each class in the Segmentation feature using Ensemble Learning algorithms.

## 4.1 Ensemble

Implement **at least 1 model** for each of the following learning algorithms:

- Bagging
- Boosting
- Stacking
- Voting

### 4.1.1 Bagging
Bagging is a technique that trains a single type of model, with each model being trained on a different subset of the data. The final prediction is determined by the most frequently occurring prediction across all models. As a reference, you may use `RandomForestClassifier` to build your bagging model.

In [ ]:
# Type your code here

### 4.1.2 Boosting
Boosting is a technique where the first model is trained on entire dataset, the second model to reduce the error of first model, followed by a third model to reduce the error of the second model, and so on. As a reference, you may use `GradientBoostingClassifier` to build your boosting model.

In [ ]:
# Type your code here

### 4.1.3 Voting
Voting is a technique that trains multiple different models, with each model being trained on the entire dataset. The final prediction is obtained through voting. As a reference, you may use `VotingClassifier` to build your voting model.

In [ ]:
# Type your code here

### 4.1.4 Stacking
Stacking is a technique that trains multiple different models, with each model being trained on the entire dataset. The final prediction is obtained through a meta-learner model that takes the predictions of the previous models as input. As a reference, you may use `StackingClassifier` to build your stacking model.

In [ ]:
# Type your code here

Note: You can use/add other classifiers that haven't been mentioned, as long as it belong to one of the ensemble methods mentioned above.

## 4.2 Validation

Validation is the process of evaluating a trained model using a validation set or cross-validation method. It provides metrics that help determine the necessary steps for the next iteration of model development.  

For validation, the metric used is **log loss**, which measures the model's performance in terms of probabilistic predictions. A lower log loss indicates better model calibration.  

### Required Validation Results  
The validation results that must be included in the notebook are:  
1. The validation results from the required baseline models.  
2. The validation results from the final submission model on **Kaggle**.

In [ ]:
# Type your code here

## Submission
To predict the test set target feature and submit the results to the kaggle competition platform, do the following:
1. Create a new pipeline instance identical to the first in Data Preprocessing
2. With the pipeline, apply `fit_transform` to the original training set before splitting, then only apply `transform` to the test set.
3. Retrain the model on the preprocessed training set
4. Predict the test set
5. Make sure the submission contains the `ID`, `Segmentation` column.

In [30]:
import pandas as pd

# Ensure 'ID' column is retained for output
df_test_id = df_test[["ID"]]  # Keep the IDs for final output

# Drop 'ID' column from test set before preprocessing
X_test_final = df_test.drop(columns=["ID"])

# Apply the trained pipeline for transformation and prediction
y_test_pred = model_pipeline.predict(X_test_final)

# Create a DataFrame for submission
df_submission = pd.DataFrame({
    "ID": df_test_id["ID"],
    "Segmentation": y_test_pred
})

# Save as CSV file
csv_filename = "output/submission.csv"
df_submission.to_csv(csv_filename, index=False)

print(f"Submission file saved at: {csv_filename}")

Submission file saved at: output/submission.csv

# 5. Error Analysis

Based on all the process you have done until the modeling and evaluation step, write an analysis to support each steps you have taken to solve this problem. Write the analysis using the markdown block. Some questions that may help you in writing the analysis:

1. Which segments (A, B, C, D) have the highest and lowest misclassification rates?
2. Are there any specific segments where the model struggles to make correct predictions?
3. Which features contribute the most to incorrect predictions?
4. Which ensemble technique (Bagging, Boosting, Stacking, Voting) produces the lowest log loss?
5. Are there significant differences in error distribution between different ensemble models?
6. Does a particular model consistently misclassify certain segments more than others?
7. etc..

`Provide your analysis here`